flows.json
[
    {
        "id": "9dc8849c8027b93c",
        "type": "tab",
        "label": "Termometro",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a5f0276019af762",
        "type": "comment",
        "z": "9dc8849c8027b93c",
        "name": "AZZURRO",
        "info": "",
        "x": 1540,
        "y": 1120,
        "wires": []
    },
    {
        "id": "99e4444371c10594",
        "type": "comment",
        "z": "9dc8849c8027b93c",
        "name": "VERDE",
        "info": "",
        "x": 1530,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7cafc3743a99b1d8",
        "type": "comment",
        "z": "9dc8849c8027b93c",
        "name": "ROSSO",
        "info": "",
        "x": 1540,
        "y": 1240,
        "wires": []
    },
    {
        "id": "dd3067e1a9029443",
        "type": "switch",
        "z": "9dc8849c8027b93c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "18",
                "vt": "num",
                "v2": "23",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "23",
                "vt": "num",
                "v2": "26",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "17",
                "vt": "num",
                "v2": "18",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 890,
        "y": 1180,
        "wires": [
            [
                "bd7449d7c98aca36",
                "67467a39bff0a005"
            ],
            [
                "ea6b6d2aa4a18832",
                "c04edd704435aefc"
            ],
            [
                "ea6b6d2aa4a18832",
                "c04edd704435aefc"
            ],
            [
                "93f3bd4fa130b530",
                "3bba252b0ee81f77"
            ]
        ]
    },
    {
        "id": "1fb1797d625957f4",
        "type": "comment",
        "z": "9dc8849c8027b93c",
        "name": "TOUCH SENSOR",
        "info": "GPIO 29 ",
        "x": 150,
        "y": 940,
        "wires": []
    },
    {
        "id": "a06f755e6a611c0a",
        "type": "inject",
        "z": "9dc8849c8027b93c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"clear\":true,\"text\":\"CIAO\",\"alignment\":\"center\"},{\"clear\":true,\"text\":\"MONDO\",\"alignment\":\"center\"}]",
        "payloadType": "json",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "23c68380137d4f5e"
            ]
        ]
    },
    {
        "id": "8b6081f21782d318",
        "type": "debug",
        "z": "9dc8849c8027b93c",
        "name": "ARRAY OF ADDRESSES",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 660,
        "wires": []
    },
    {
        "id": "2f895cc88f130c7e",
        "type": "debug",
        "z": "9dc8849c8027b93c",
        "name": "ADDRESSES",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 700,
        "wires": []
    },
    {
        "id": "93e1d58fd2c985be",
        "type": "inject",
        "z": "9dc8849c8027b93c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "983227bf276cd0e3"
            ]
        ]
    },
    {
        "id": "33e4018153ee1c06",
        "type": "comment",
        "z": "9dc8849c8027b93c",
        "name": "LCD LED",
        "info": "",
        "x": 120,
        "y": 540,
        "wires": []
    },
    {
        "id": "0ace66b40c16b8d7",
        "type": "comment",
        "z": "9dc8849c8027b93c",
        "name": "TERMOMETRO",
        "info": "misura temp ogni 10 sec",
        "x": 660,
        "y": 940,
        "wires": []
    },
    {
        "id": "46bedeebc9513db8",
        "type": "debug",
        "z": "9dc8849c8027b93c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1000,
        "wires": []
    },
    {
        "id": "7469a13b7412f6ff",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"clear\": true,\t        \"text\": \"Indoor Temperature:\",\t        \"alignment\": \"center\"\t    },\t    {\t        \"clear\": true,\t        \"text\": $string(msg.payload)\t        ,\t        \"alignment\": \"center\"\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1000,
        "wires": [
            [
                "46bedeebc9513db8",
                "01a46e426a4a1142"
            ]
        ]
    },
    {
        "id": "f8838e12d4485bbb",
        "type": "debug",
        "z": "9dc8849c8027b93c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 940,
        "wires": []
    },
    {
        "id": "8c80352071fd7d93",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "fb350e193ec31f66",
                "202abced45608a28"
            ]
        ]
    },
    {
        "id": "202abced45608a28",
        "type": "debug",
        "z": "9dc8849c8027b93c",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bd7449d7c98aca36",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1120,
        "wires": [
            [
                "5a31a12385ce773e"
            ]
        ]
    },
    {
        "id": "67467a39bff0a005",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1160,
        "wires": [
            [
                "fd251272b1ec2012",
                "f826f2a00eaba3fa"
            ]
        ]
    },
    {
        "id": "ea6b6d2aa4a18832",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1200,
        "wires": [
            [
                "fd251272b1ec2012"
            ]
        ]
    },
    {
        "id": "93f3bd4fa130b530",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1280,
        "wires": [
            [
                "f826f2a00eaba3fa"
            ]
        ]
    },
    {
        "id": "c04edd704435aefc",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1240,
        "wires": [
            [
                "5a31a12385ce773e",
                "f826f2a00eaba3fa"
            ]
        ]
    },
    {
        "id": "3bba252b0ee81f77",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1320,
        "wires": [
            [
                "fd251272b1ec2012",
                "5a31a12385ce773e"
            ]
        ]
    },
    {
        "id": "10ec137709f3161d",
        "type": "inject",
        "z": "9dc8849c8027b93c",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 790,
        "y": 1400,
        "wires": [
            [
                "5c9d8e8527451156"
            ]
        ]
    },
    {
        "id": "5c9d8e8527451156",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1400,
        "wires": [
            [
                "f826f2a00eaba3fa",
                "fd251272b1ec2012",
                "5a31a12385ce773e"
            ]
        ]
    },
    {
        "id": "ac5ce9f388b008d3",
        "type": "inject",
        "z": "9dc8849c8027b93c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "9224a884656176a7",
        "type": "inject",
        "z": "9dc8849c8027b93c",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 810,
        "y": 1460,
        "wires": [
            [
                "281d2c38db0381b0"
            ]
        ]
    },
    {
        "id": "281d2c38db0381b0",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1460,
        "wires": [
            [
                "5a31a12385ce773e",
                "fd251272b1ec2012",
                "f826f2a00eaba3fa"
            ]
        ]
    },
    {
        "id": "2ceae684309c3575",
        "type": "inject",
        "z": "9dc8849c8027b93c",
        "name": "ON/OFF SWITCH",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 830,
        "y": 1560,
        "wires": [
            [
                "685c77a717f300e8",
                "66d5d458593e9e33"
            ]
        ]
    },
    {
        "id": "685c77a717f300e8",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1520,
        "wires": [
            [
                "28e87a2387ee065b"
            ]
        ]
    },
    {
        "id": "66d5d458593e9e33",
        "type": "change",
        "z": "9dc8849c8027b93c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1580,
        "wires": [
            [
                "28e87a2387ee065b"
            ]
        ]
    },
    {
        "id": "f8a7842294459f67",
        "type": "rpi-gpio in",
        "z": "9dc8849c8027b93c",
        "name": "",
        "pin": "21",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "8c80352071fd7d93"
            ]
        ]
    },
    {
        "id": "5a31a12385ce773e",
        "type": "rpi-gpio out",
        "z": "9dc8849c8027b93c",
        "name": "",
        "pin": "17",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1400,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fd251272b1ec2012",
        "type": "rpi-gpio out",
        "z": "9dc8849c8027b93c",
        "name": "",
        "pin": "27",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1400,
        "y": 1180,
        "wires": []
    },
    {
        "id": "f826f2a00eaba3fa",
        "type": "rpi-gpio out",
        "z": "9dc8849c8027b93c",
        "name": "",
        "pin": "22",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1400,
        "y": 1240,
        "wires": []
    },
    {
        "id": "983227bf276cd0e3",
        "type": "i2c scan",
        "z": "9dc8849c8027b93c",
        "name": "",
        "busno": "1",
        "x": 300,
        "y": 660,
        "wires": [
            [
                "8b6081f21782d318"
            ],
            [
                "2f895cc88f130c7e"
            ]
        ]
    },
    {
        "id": "01a46e426a4a1142",
        "type": "LCD-I2C",
        "z": "9dc8849c8027b93c",
        "name": "",
        "variant": "PCF8574",
        "size": "20x4",
        "x": 1100,
        "y": 1060,
        "wires": []
    },
    {
        "id": "23c68380137d4f5e",
        "type": "LCD-I2C",
        "z": "9dc8849c8027b93c",
        "name": "",
        "variant": "PCF8574",
        "size": "20x4",
        "x": 300,
        "y": 600,
        "wires": []
    },
    {
        "id": "fb350e193ec31f66",
        "type": "rpi-ds18b20",
        "z": "9dc8849c8027b93c",
        "topic": "",
        "array": false,
        "name": "",
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "f8838e12d4485bbb",
                "7469a13b7412f6ff",
                "dd3067e1a9029443"
            ]
        ]
    },
    {
        "id": "28e87a2387ee065b",
        "type": "ui-switch",
        "z": "9dc8849c8027b93c",
        "name": "",
        "label": "switch",
        "group": "92cf0eba9b1a288d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1230,
        "y": 1560,
        "wires": [
            [
                "5a31a12385ce773e",
                "fd251272b1ec2012",
                "f826f2a00eaba3fa"
            ]
        ]
    },
    {
        "id": "92cf0eba9b1a288d",
        "type": "ui-group",
        "name": "Lights",
        "page": "ce9a63e980c12ed9",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ce9a63e980c12ed9",
        "type": "ui-page",
        "name": "Domotica",
        "ui": "c4c4b71c40e6427a",
        "path": "/page",
        "icon": "home",
        "layout": "grid",
        "theme": "17d2112d3f4c0ad6",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "c4c4b71c40e6427a",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "17d2112d3f4c0ad6",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3b6e2b8cf02ff109",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-pi-gpio": "2.0.6",
            "node-red-contrib-i2c": "0.9.0",
            "node-red-contrib-pcf8574-lcd": "0.1.0",
            "node-red-contrib-ds18b20-sensor": "1.3.6",
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]